.padre{
    display: flex;
    flex-direction:row;
    width: 100%;
     margin-top: 1;
    border: 3px black solid;
    box-shadow: 10px 10px 5px black;
    justify-content:space-between
    

}
.encabezado{
    display: inline-flex;
    align-items:flex-start;
    width: auto;
    margin-bottom: 10%;
    background-color: beige;  
}

.boton1{
    display: inline-flex; 
    width: 15%;
    height: 15%;
   padding: 4%;
   padding-left:100 %;
  
   border-style:groove;
   box-shadow: -3px -3px 5px black inset;
  




}
.padre-boton{

    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    flex-wrap: wrap;
    align-content: flex-end;
    
    margin-top: 1;
    width: 70%;
}
.boton{
    display: inline-flex; 
     width: 15%;
     height: 10%;
    padding: 4%;
    padding-right:70 %;
   
    border-style:groove;
    box-shadow: -3px -3px 5px black inset;
    flex-grow: 3 ;

   

}

.logo{
    display: inline-flex; 
    width: 15%;
    height: 10%;
   padding: 4%;
   padding-left:50 %;
   text-align: center;
   border-style: groove;
   box-shadow: -3px -3px 5px black inset;
   flex-grow: 1 ;

   

}


.padre2{

    display: flex;
    flex-direction:row;
    justify-content:space-evenly;
    align-items:flex-end;
   
    
    margin-top: 1%;
  
    
    
    }
    
.div-centro{

    height: 80%;
    padding: 12%;
    border: 3px black solid;
    background-color: red;
    box-shadow: 10px 10px 5px black;
}

.padre3{
    display: flex;
    flex-direction:row;
    justify-content:space-evenly;
    margin-top: 1%;
    
    
}   

.div-inferior-izq{
    flex-grow: 1 ;
    background-color: green;
    padding: 10%;
    border: 3px black solid; 
    margin: auto; 
    box-shadow: 10px 10px 5px black;

}

.div-inferior-der{
    flex-grow: 0 ;
    padding: 10%;
    background-color: blue;
    border: 3px black solid;
    margin: auto;
    box-shadow: 10px 10px 5px black;
}



.padre4{
    display: flex;
    flex-direction:row;
  
    border: 3px black solid;
   
    background-color: orange;
    margin-top: 1%;
    box-shadow: 10px 10px 5px black;
    
}
.div-pie{
   
    height: 30%;
    padding: 3%;
    text-align:left;
}

.div-elemento{
   
    height: 7%;
    padding: 7%;
    border-style:groove;
    box-shadow: -3px -3px 5px black inset;
    
   
  
}