.principal{

    display: flex;
    flex-direction: column;
    background-color: blue;
    align-items: center;
 

}

.contenedorNav{

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: white;
  
  

}


.barra1{
  
    border: 2px solid black;
  
    
}

.barra2{
    
    border: 2px solid black;
    
    
}

.barra3{
   
    border: 2px solid black;
  
    
}

.formulario-1{
    display: flex;
    flex-direction: row;
    
    margin-top: 2%;
   
}


.formulario-2{
    display: flex;
    flex-direction: column;
    background-color: white;
    margin-top: 2%;
   
}

.formulario-3{
    display: flex;
    flex-direction: row;
    background-color: white;
    margin-top: 1%;
    margin-bottom: 2%;
    
}

#listaProductos{

display: flex;
flex-direction: column;
margin: 2%;
width:fit-content;

}

#carta1{

    display: flex;
}







